<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>day04</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- web.xml은 배포설명자 -->
  <!-- 애플리케이션의 클래스, 리소스, 구성 및 웹 서버가 이를 사용해서 -->
  <!-- 웹 요청을 처리하는 방법을 사용자에게 기술하는 곳-->
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/ex03.jsp</location>
  </error-page>
  
  <error-page>
  	<exception-type>java.lang.NumberFormatException</exception-type>
  	<location>/ex02-errer.jsp</location>
  </error-page>
  
</web-app>